@import "~@edx/brand/paragon/variables";

.separator {
  border: 0;
  border-top: 0.075rem solid $light-500
}
.back-to-login__button {
  border-color: $primary-500;
  border: 2px solid;
}

.loader-container {
  height: 200px !important;
}

.loader-heading {
  color: $primary-500;
}
#set-reset-password-form  .pgn__form-control-floating-label-text:after {
    content: none;
}
