$white: #FFFFFF;
$black: #000000;
$facebook-blue: #1877F2;
$icon-and-text-gap: 15px;

.social-auth-button_facebook {
  gap: $icon-and-text-gap;
  background-color: $facebook-blue;

  &.btn-tertiary:hover {
    background-color: $facebook-blue;
  }
}

.social-auth-button_apple {
  gap: $icon-and-text-gap;
  background-color: $black;

  &.btn-tertiary:hover {
    background-color: $black;
  }
}

.social-auth-button_google, .social-auth-button_microsoft {
  gap: $icon-and-text-gap;
  background-color: $white;

  &.btn-tertiary:hover {
    background-color: $white;
  }
}
