@import "@edx/brand/paragon/variables";

$facebook-blue: #1877F2;
$icon-and-text-gap: 15px;

.authn-component__modal .social-auth-button_facebook {
  gap: $icon-and-text-gap;
  background-color: $facebook-blue;

  &.btn-tertiary:hover {
    background-color: $facebook-blue;
  }
}

.authn-component__modal .social-auth-button_google {
  gap: $icon-and-text-gap;
  margin-top: 0 !important;
}

.authn-component__modal .social-auth-button_apple {
  gap: $icon-and-text-gap;
  background-color: $black;

  &.btn-tertiary:hover {
    background-color: $black;
  }
}

.authn-component__modal .social-auth-button_microsoft {
  margin-bottom: 0 !important;
  gap: $icon-and-text-gap;
  background-color: $white;

  &.btn-tertiary:hover {
    background-color: $white;
  }
}

.authn-component__modal .react-loading-skeleton:nth-last-child(n+3) {
  margin-bottom: 16px;
}

.authn-component__modal .react-loading-skeleton {
  line-height: 44px;
}