@import "~@edx/brand-edx.org/paragon/variables";

$facebook-blue: #1877F2;
$icon-and-text-gap: 15px;

.authn-component__modal .social-auth-button_facebook {
  gap: $icon-and-text-gap !important;
  background-color: $facebook-blue !important;

  &.btn-tertiary:hover {
    background-color: $facebook-blue !important;
  }
}

.authn-component__modal .social-auth-button_google {
  gap: $icon-and-text-gap !important;
  margin-top: 0 !important;
}

.authn-component__modal .social-auth-button_apple {
  gap: $icon-and-text-gap !important;
  background-color: $black !important;

  &.btn-tertiary:hover {
    background-color: $black !important;
  }
}

.authn-component__modal .social-auth-button_microsoft {
  margin-bottom: 0 !important;
  gap: $icon-and-text-gap !important;
  background-color: $white !important;

  &.btn-tertiary:hover {
    background-color: $white !important;
  }
}

.authn-component__modal .react-loading-skeleton:nth-last-child(n+3) {
  margin-bottom: 16px !important;
}

.authn-component__modal .react-loading-skeleton {
  line-height: 44px !important;
}
