@import "@edx/brand/paragon/variables";

.btn-tpa__font-container {
  background-color: $primary;
  color: $white;
  font-size: 11px;
  margin-left: -6px;
  padding-top: 5px;
  min-width: 24px;
  height: 24px;
}
