@import "~@edx/brand-edx.org/paragon/variables";
@import "common-ui";
@import "base-container";
@import "forms";

.onboarding-component__modal .onboarding-btn__pill-shaped {
  border-radius: 100px !important;
  padding: 10px 24px !important;
  justify-content: center !important;
  align-items: center !important;
}

.onboarding-component__modal .onboarding-sso-btn__pill-shaped {
  border-radius: 6px !important;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.17), 0 0 3px 0 rgba(0, 0, 0, 0.08);
}

.onboarding-component__modal .pgn__form-group .pgn__form-control-decorator-group input {
  border-radius: 5px !important;
}

.onboarding__popup-container {
  padding: 2.5rem !important;
}

.onboarding-popup__registration-footer {
  padding: 2.5rem !important;
}

@media (max-width: 576px) {
  .onboarding__popup-container {
    padding: 1rem !important;
  }

  .onboarding-popup__registration-footer {
    padding: 1rem 1.5rem !important;
  }
}

@media (max-width: 350px) {
  .onboarding-popup__registration-footer {
    padding: 1rem !important;
  }
}

.onboarding__popup-container .pgn__form-control-floating-label-text:after {
  content: "*" !important;
  color: $danger-500 !important;
}

.heading-separator {
  border: 0 !important;
  border-top: 0.075rem solid $light-500 !important;
}
