@import "~@edx/brand/paragon/variables";
@import "common-ui";

.authn__popup-container {
  padding: 2.5rem;
}

.authn__popup-footer {
  padding: 2.5rem;
}

.authn__popup-container > .pgn__form-control-floating-label-text:after {
  content:"*";
  color: $danger-500;
}

.heading-separator {
  border: 0;
  border-top: 0.075rem solid $light-500
}

